.row{
    display: flex;
    flex-wrap: wrap;
}
.rectangle{
    width: 50%;
    background-color:#26B919;
    /* clip-path: polygon(0 -134%, 91% 75%, 91% 100%, 0% 100%); */
    clip-path: polygon(45% 68%, 89% 89%, 89% 100%, 0 100%, 0 68%);

    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;


}
.loveicon{
    text-align: end; 
}
.price{
    font-size: 1.9rem;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.bathroom,.rooms,.beds,.sqft{
    width: 45%;
    background-color:#3781CB;
    padding: 10px;
    margin:0 0 10px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}