.search-section{
    height:17rem;
    background: #2e72db;
}
.search-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.search-section .css-i1hrn3-MuiTypography-root{
    color: #fff;
    font-weight: 800;
    font-size: 2rem;
    padding-left: 5rem;
}
.cards-section{
   display: flex;
    flex-flow: wrap;
    width:61%;
    justify-content: space-between;
}
.filter-wrapper {
    width: 9rem;
    background: #f0f0f0;
    margin-right:0.5rem;
}
.filter-wrapper .css-1vw6mcs-MuiTypography-root{
    font-weight: 750;
    font-size: 1rem;
}
.filter-wrapper .css-1480iag-MuiInputBase-root-MuiInput-root:before{
 content: none;
}
.filter-wrapper select#uncontrolled-native{
    font-size: 13px;
}
.filter-wrapper .css-q8hpuo-MuiFormControl-root
{
    width: 5rem;
}
.filter-wrapper .css-18k87ye-MuiTypography-root{
    font-size: .9rem;
    color: #000000d1;
}
.filter-wrapper .col{
   display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-wrapper .css-sghohy-MuiButtonBase-root-MuiButton-root{
    text-transform: capitalize;
    border-radius: 5rem;
    padding: 6px 30px;
}
.cards-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.filter-wrapper .css-eg0mwd-MuiSlider-thumb{
    width: 13px;
    height: 13px;
}
.filter-wrapper .group{
    padding: 1rem;
    position: relative;
}
.group:not(:first-child)::after{
    content: " ";
    width: 1rem;
    border-bottom: 1px solid #000;
    position: absolute;
    position: absolute;
    width: 127.01px;
    height: 0px;
    top: 0px;
    border-bottom: 3px solid #CCCCCC;
}
.filter-wrapper .group button{
    background: none;
    border: none;
    padding: 0 4px;
    cursor: pointer;
}
/* .group::before {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 15px;
    bottom: 0px;
    background: #CCCCCC;
    border-radius: 50%;
} */



