.section2{
    display: flex;
    width: 50%;
    height: 100%;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
    



.about-us,.services,.contact-us,.social{
    display: flex;
    flex-direction: column;
    height: 50%;

}

.about-us > a,.services > a,.contact-us > a,.social > a{
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;

}
.about-us > a > svg,.services > a > svg,.contact-us > a > svg,.social > a > svg{
    margin-right: 5px;
}

.about-us > p,.services > p,.contact-us > p,.social > p{
    font-size: 26px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: left;
}

.social *{
    display: flex;
    align-items: center;
    margin-left: 10px;
}