.section2{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-evenly
}

.pages {
    display: flex;
    width: 72%;
    justify-content: space-around;
}
.social{
    display: flex;
    justify-content: space-evenly;
    width: 36%;
}


.copyright{
text-align: center;
}